.navbar {

    position: sticky;
    top: 0;
    z-index: 1000;

    width: 100%;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    padding: 20px 0;

    background: rgba(10, 10, 10, .95);

    backdrop-filter: blur(10px);

    border-bottom: 1px solid rgba(255, 255, 255, .08);
}

.logo {

    color: white;

    text-decoration: none;

    font-size: 40px;

    font-weight: 700;

    letter-spacing: 1px;

    margin-bottom: 30px;

    transition: .3s;
}

.logo:hover {

    color: #e50914;
}

.nav-links {

    display: flex;

    justify-content: center;

    align-items: center;

    gap: 45px;
}

.nav-links a {

    color: #dddddd;

    text-decoration: none;

    font-size: 18px;

    font-weight: 500;

    transition: .3s;
}

.nav-links a:hover {

    color: #e50914;
}

@media(max-width:768px) {

    .logo {

        font-size: 30px;
    }

    .nav-links {

        gap: 22px;
        flex-wrap: wrap;
    }

    .nav-links a {

        font-size: 16px;
    }
}